.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#m {
  height: 500px;
  width: 100%;
}
.mapHolder{
  width: 100%;
}
.w80{
  width: 80%;
  margin: 50px auto;
}
.mainTitle{
  text-align: center;
}
.progress{
  width: 80%;
  margin: 10px auto;
  height: 2em;
}
.points{
  text-align: end;
}
.questionContainer{
  margin-top: 2em;
}
h2, h1{
  text-align: center;
  width: 100%;
}
.questionContainer .row, .end .row{
  margin-top: 2em;

}
.answerImg{
  margin:0px auto;
  width: 100px;
}
.questionContainer .row, .invitation {
  text-align: center;
}
.questionContainer .row p {
  width: 100%;
}
.buttons{
  text-align: center;
}
.buttons.w100{
  width: 100%;
}
.buttons button{
  margin: 0px 10px 0px 10px;
}
.spinner{
  position: absolute;
  top: 50%;
  left: 50%;
}
.left .buttons{
  position: absolute;
  top: 50px;
}
.carouselTitle{
  position: absolute;
  z-index: 10;
  top: 30%;
  background-color: rgb(0,0,0,0.5);
  color: white;
  width: 100%;
  padding: 50px;
}
.carouselTitle h1{
  font-size: 5em;
}
.fit{
  object-fit: cover;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  min-width: -webkit-fill-available;
  max-width: -webkit-fill-available;
  min-height: -moz-available;
  max-height: -moz-available;
  min-width: -moz-available;
  max-width: -moz-available;
  min-height: fill-available;
  max-height: fill-available;
  min-width: fill-available;
  max-width: fill-available;
}
.carousel .item {
  position: fixed;
  width: 100%; height: 100%;

}
.carousel .one {
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .two {
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .three {
  background-size: cover;
  -moz-background-size: cover;
}
.carousel .active.left {
  left:0;
  opacity:0;
  z-index:2;
}
