extends layout

block content
    div(class='country')
        h1 #{country.name} (#{country.nativeName})
        img(src= flag, class='country.flag')
        div(class="basic")
            ul
                li Region: #{country.region} (#{country.subregion})
                li Capital: #{country.capital}
                li Population: #{print_number(country.population)}
                li Area: #{print_number(country.area)} m<sup>2</sup>
                li Languages: #{country.languages.map(lang => lang.name + ' (' + lang.nativeName + ')').join(', ')}
    .map
        #m
    script.
        var coordX = "#{map.x}";
        var coordY = "#{map.y}";
        Loader.lang = "en";
        Loader.load();
    script(src='/javascripts/mapy.js')

