extends layout

block content
  .game-content
    h1 Country QUIZ
    a(class="play button" href="/country?name=Ukraine") PLAY
  .slider-wrap
    div(class="slider", id="card-slider")
      .slider-item
        .animation-card_image
          img(src="/images/papua.jpg")
        .animation-card_content
          h4(class="animation-card_content_title title-2") Papua-Nová Guinea
          p(class="animation-card_content_description p-2") Papua-Nová Guinea je země, kde se mluví celkem 750 jazyky.  Nejpoužívanější je ale jazyk motu a pidžinská angličtina.
      .slider-item
        .animation-card_image
          img(src="/images/australie.jpg")
        .animation-card_content
          h4(class="animation-card_content_title title-2") Austrálie
          p(class="animation-card_content_description p-2") Perth v Austrálii je nejizolovanějším městem na světě. Leží v těžko dostupné pustině a nejbližší civilizace je až 322 kilometrů daleko.
      .slider-item
        .animation-card_image
          img(src="/images/rusko.jpg")
        .animation-card_content
          h4(class="animation-card_content_title title-2") Rusko
          p(class="animation-card_content_description p-2")  Když se vydáte na Transsibiřskou magistrálu mezi Moskvou a Vladivostokem, bude vám trvat celých 7 dní, než skončíte v cíli. Je to trasa dlouhá 9000 kilometrů.
      .slider-item
        .animation-card_image
          img(src="/images/spain.jpg")
        .animation-card_content
          h4(class="animation-card_content_title title-2") Španělsko
          p(class="animation-card_content_description p-2") Španělština je nejrychlejším jazykem na světě.
      .slider-item
        .animation-card_image
          img(src="/images/turk.jpg")
        .animation-card_content
          h4(class="animation-card_content_title title-2") Turkmenistán
          p(class="animation-card_content_description p-2") V Turkmenistánu je „Brána do pekla“ – kráter uprostřed pouště Karakum nedaleko oázy Darvaza, ve kterém od roku 1971 hoří unikající zemní plyn.
  script(src="/javascripts/main-page.js")