doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/gsap/1.19.1/TweenMax.min.js")
      script(src="https://api.mapy.cz/loader.js")
      script(src="/javascripts/search.js")

    body
        .searchbar
            input(type="text", placeholder="Search country...",)
            a(class="search", href="/country")
    div(id='content')
      block content
