@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");

html {
  width: 100%;
  height: 100%;
}

body {
  background: url('/images/back.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.slider-wrap {
  height: 100%;
  width: 100%;
  .slider {
    position: absolute;
    left: 50px;
    top: 100px;
  }
}

.slider-item {
  width: 530px;
  padding: 20px 0 25px 30px;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  opacity: 0;
  z-index: 0;
  box-shadow: 0 4px 9px #f1f1f4;
  position: absolute;
  left: 0;
  top: 0;
  .animation-card_image {
    max-width: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 9px rgba(241, 241, 244, 0.72);
    background-color: #ffffff;
    margin-top: 15px;
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
    }
  };
  .animation-card_content {
    width: 100%;
    max-width: 450px;
    margin-left: 35px;
    font-family: "Open Sans", sans-serif;
    .animation-card_content_title{
      color: #4a4545;
      font-size: 16px;
      font-weight: 400;
      letter-spacing: -0.18px;
      line-height: 24px;
      margin: 0;
    };
    .animation-card_content_description {
      color: #696d74;
      font-size: 15px;
      font-weight: 300;
      letter-spacing: normal;
      line-height: 24px;
      margin: 10px 0 0 0;
    }
  }
}

