@import 'card-slider';
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

@content-width:70%;
@country-color: white;
@button-color: #ff7c00;
@button-color-hover : white;

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.flag {
  //position: fixed;
  //top: 0;
  //left: 0;
  //min-width: 100%;
  //opacity: 0.5;
  //z-index: -1;
  //height: 100%;
  width: 100px;
  border: 1px solid fade(#000000, 31%)
}
#content {
  margin: auto;
  .country{
    background-color: fade(@country-color, 70%);
  }
}
.game-content {
  margin-left:  50%;
  h1 {
    font-family: 'Rock Salt', cursive;
    font-size: 40pt;
    margin-bottom: 20%;
  }
}
.button {
  padding: 20px 50px;
  transition: all .5s ease-in-out;
  text-decoration: none;
}
.button:hover {
  cursor: pointer;
}
.play {
  margin-left: 15%;
  padding: 40px 100px;
  background-color: @button-color;
  color: @button-color-hover;
  border: 4pt solid @button-color;
  font-size: 25pt;
}
.play:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s;
  box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
  background-color: @button-color-hover;
  color: @button-color;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 @button-color;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 @button-color;
  }
}

#m {
  height: 500px;
  max-width: 60%;
  margin: auto;
}

.searchbar {
  position: fixed;
  top: 10px;
  right: 20px;
  padding: 20px;
  width: 30%;

  input {
    padding: 10px;
    width: 100%;
    border: 2px solid @button-color;
    border-radius: 24px;
  }
}